{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2><a href="{{ url_for('show_article', title=entry.title) }}">{{ entry.title }}</a></h2>{{ entry.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}

{% block title %}Main page{% endblock %}

{% block side %}
<div class="side">
<div class="intro">
  <h1>ABOUT ME</h1>
  <p>我就是我<br>是颜色不一样的烟火</p>
</div>
<br>
<div class="recentarticle">
  <h1>RECENTLY POSTED</h1>
  <ul class="recentarticle">
    {% for entry in entries[:5] %}
     <li>
      <h2><a href="{{ url_for('show_article', title=entry.title) }}">{{ entry.title }}</a></h2>
     </li>
    {% endfor %}
  </ul>
</div>
<br>
<div class="social">
  <h1>I'M HERE</h1>
  <a href="https://www.instagram.com"><img class="social" src="{{ url_for('static', filename='instagram.png') }}"></a>
  <a href="https://twitter.com"><img class="social" src="{{ url_for('static', filename='twitter.png') }}"></a>
  <a href="http://weibo.com"><img class="social" src="{{ url_for('static', filename='weibo.png') }}"></a>
</div>
</div>
{% endblock %}